# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.28"
optimizer = true
optimizer_runs = 20

allow_internal_expect_revert = true

ffi = true
ast = true
force = true # force recompile, must clean first in v5: https://docs.openzeppelin.com/upgrades-plugins/1.x/foundry-upgrades#before_running
build_info = true
extra_output = ["storageLayout"]
# Enable the Solidity via-IR pipeline for better code size optimization
via_ir = true

[rpc_endpoints]
bsc_testnet = "${BSC_TESTNET_RPC_URL}"
bsc = "${BSC_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"
eth = "${ETHEREUM_RPC_URL}"

[etherscan]
bsc = { key = "${BSCSCAN_API_KEY}" }
bsc_testnet = { key = "${BSCSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
eth = { key = "${ETHERSCAN_API_KEY}" }
